@use "./mode" as *;

@import url("https://fonts.googleapis.com/css?family=Open+Sans");

:root {
  &[color-mode="light"] {
    --surface1: #e6e6e6;
    --surface2: #f2f2f2;
    --surface3: #ffffff;
    --element1: #111111;
    --element2: #222222;
    --element3: #333333;
    --elementInverse: #eee;
    --primary: #01408e;
    --secondary: #3c5d5c;
    --tertiary: #fff7d6;
    --bq-color: #555555;
    --bq-back: #ededed;
    --note: #4d5b7c;
    --pdfLink: #ff0000;
    --drop: #903;
  }

  &[color-mode="dark"] {
    --surface1: #262626;
    --surface2: #333333;
    --surface3: #404040;
    --element1: #eeeeee;
    --element2: #dddddd;
    --element3: #cccccc;
    --elementInverse: #111;
    --primary: #8fceff;
    --secondary: #72faca;
    --tertiary: #eee8a9;
    --bq-color: #7fa296;
    --bq-back: #43655a;
    --note: #c67da6;
    --pdfLink: #008be4;
    --drop: #ffff00;
  }

  --sans: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  --mono: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;

  --blue: #a2d2ff;
  --pink: #ffafcc;
  --white: #fff;
  --black: #000;

  --articleRadius: 50px;
  --paraIndent: 40px;
}

html {
  font-size: 1rem;
  @include color-var("background-color", surface1);
  cursor: url("../assets/cursors/default.cur"), auto;
  overscroll-behavior-y: none;
}

body {
  position: relative;
  overscroll-behavior-y: none;
}

body::-webkit-scrollbar {
  width: 2em;
}
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 90px;
}
body::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #404040, #cec4c4);
  border-radius: 10px;
}

main {
  // Fluid typography styling
  font-size: clamp(1rem, 0.825rem + 0.875vw, 1.875rem);

  @supports not (clamp(1rem, 0.825rem + 0.875vw, 1.875rem)) {
    font-size: min(max(1rem, 0.825rem + 0.875vw), 1.875rem);
  }
}

article {
  @include color-var("color", element1);
  @include color-var("background-color", surface2);

  margin: 0 auto;
  margin-bottom: 3.125em;
  padding: 1.5rem 3rem;

  max-width: 75ch;
  // max-width: clamp(16rem, 90vw, 100rem);

  border-radius: var(--articleRadius);
  box-shadow: 0 1px 7px hsla(0, 0%, 0%, 0.2);

  // The special part is largely to avoid compromising the title page.
  &:not(.special) {
    line-height: 1.6;
    line-height: calc(2px + 3ex + 2px);
    line-height: calc(1.618em + (1ex - 1ch));

    letter-spacing: 0.08em;
    word-spacing: 0.16em;
  }
}

section * {
  font-family: var(--sans);
}

footer {
  position: relative;
  z-index: 1;
  @include color-var("background-color", surface3);
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.15), 0 5px 5px rgba(0, 0, 0, 0.15);

  div {
    z-index: 1;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

:where(p, h1, h2, h3, h4, h5, h6, blockquote, figcaption) {
  cursor: url("../assets/cursors/text-select.cur"), auto;
}

:where(p, blockquote, img, pre, ul, ol) + p:not(.note) {
  text-indent: var(--paraIndent);
}

section > h3 + p::first-letter,
section > h2 + p::first-letter,
p:not(.nostyle):first-child::first-letter {
  @include color-var(color, drop);
  border-left: 2px solid var(--drop, #903);
  border-top: 2px solid var(--drop, #903);
  float: left;
  font-family: Georgia;
  font-size: 65px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 12px;
  padding-left: 3px;
}

h1:not(.site-title) {
  font-size: 2em;
  margin: 0.67em 0;
}

h2:not(.site-subtitle) {
  margin-top: 1rem;
}

p {
  margin: 1.5em 0;
  text-align: justify;
  text-justify: inter-word;
}

ul,
ol {
  margin: 1em 1em;
  text-align: justify;
  text-justify: inter-word;
  cursor: url("../assets/cursors/text-select.cur"), auto;
}

hr {
  border: 0;
  height: 2px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
}

pre {
  font-family: var(--mono);
  max-width: 100%;
}

pre code {
  padding-left: 10px;
  color: #e9e9f4;
  background: #282936;
  display: block;
  max-width: 100%;
  overflow-x: scroll;
  font-size: 0.6em;

  border: 1px solid #282936;
  border-radius: 10px;
  box-shadow: 1px 1px #282936, 2px 2px #282936;

  &::-webkit-scrollbar {
    -webkit-appearance: none;
    appearance: none;
  }

  &::-webkit-scrollbar:vertical {
    width: 11px;
  }

  &::-webkit-scrollbar:horizontal {
    height: 11px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white; /* should match background, can't be transparent */
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.note {
  border: 1px solid rgb(107, 113, 177);
  @include color-var("color", note);
  border-radius: 16px;
  padding: 0.5em 0.8em;
  margin: 1.9em;
}

.progress-bar {
  z-index: 100;
  height: 0.9rem;
  background: rgb(101, 102, 110);
  border: 1px solid black;
  border-radius: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
}

// MENU (possibly remove)

@mixin vertical-align($position) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin all-transition($time) {
  transition: all $time;
  -webkit-transition: all $time;
}

.sidemenu {
  font-weight: 100;
  @include color-var("background-color", surface2);
  width: 160px;
  height: 100%;
  padding-left: 50px;
  position: fixed;
  z-index: 1;
  -webkit-box-shadow: -3px 0px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: -3px 0px 5px 0px rgba(0, 0, 0, 0.2);
  right: -130px;
  @include all-transition(0.3s);
  color: #222;

  &:hover,
  &:focus {
    transform: translate3d(-130px, 0, 0);
    animation-timing-function: 1s ease-in;
  }
  .title {
    top: 50%;
    @include color-var("color", element3);
    @include vertical-align(absolute);
    transform: rotate(270deg);
    left: -5px;
    font-weight: 800;
    font-size: 15px;
  }
  .nav {
    @include vertical-align(absolute);
    font-weight: 100;

    li {
      padding-bottom: 30px;
      list-style-type: none;

      a {
        display: block;
        text-decoration: none;
        @include all-transition(0.3s);

        &:hover {
          color: #aaa;
        }
      }
    }
  }
}

// Back to Top Scrolling

@mixin setScrolltopColors(
  $bgColor: #333,
  $arrowColor: white,
  $bgColorHover: $bgColor,
  $arrowColorHover: $arrowColor
) {
  #scrolltop-bg {
    fill: $bgColor;
  }
  #scrolltop-arrow {
    fill: $arrowColor;
  }
  a:hover {
    #scrolltop-bg {
      fill: $bgColorHover;
    }
    #scrolltop-arrow {
      fill: $arrowColorHover;
    }
  }
}

.scrolltop-wrap {
  $size: 3rem;
  $offsetBottom: 2rem;
  $offsetHorizontal: 2rem;
  $scrollToRevealDistance: 12rem; // scroll offset to reveal scroll-to-top link
  $color: #007bff;

  position: absolute;

  top: $scrollToRevealDistance;
  right: $offsetHorizontal;
  bottom: 0;

  pointer-events: none;
  backface-visibility: hidden;

  @include setScrolltopColors($color, white, lighten($color, 8%));

  // prevent extra page height if content is smaller than viewport
  // Firefox only
  @supports (-moz-appearance: meterbar) {
    clip: rect(0, $size, auto, 0);
  }

  a {
    $offset: -($size + $offsetBottom); // pull up + add a small bottom space
    position: fixed; // fallback
    position: sticky;
    top: $offset;
    width: $size;
    height: $size;
    margin-bottom: $offset;
    transform: translateY(100vh); // push to bottom from top (when stuck)
    backface-visibility: hidden;
    display: inline-block;
    text-decoration: none;
    user-select: none;
    pointer-events: all;
    outline: none;
    overflow: hidden;
    svg {
      display: block;
      border-radius: 50%;
      width: 100%;
      height: 100%;
      path {
        transition: all 0.1s;
      }
    }
    #scrolltop-arrow {
      transform: scale(0.66);
      transform-origin: center;
    }
  }
  @media print {
    display: none !important;
  }
}
