img {
  margin: 0 auto;

  &.prop50 {
    width: 50%;
  }

  &.prop30 {
    width: 30%;
  }
}

img.initial {
  border-radius: 100%;
  border: 1px solid #000;
}

img.boxed {
  position: relative;
  background: white;
  border-radius: 0% 0% 0% 0% / 0% 0% 0% 0%;
  color: white;
  box-shadow: 20px 20px rgba(0, 0, 0, 0.15);
  transition: all 0.4s ease;

  &:hover {
    border-radius: 0% 0% 50% 50% / 0% 0% 5% 5%;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.25);
  }
}

img.framed {
  --b: 10px;
  margin: 0 auto;
  padding: var(--b);
  border: calc(2 * var(--b)) solid #0000;
  border-radius: 25px;
  outline: 1px solid #000;
  outline-offset: calc(-1 * var(--b));
  background: conic-gradient(from 90deg at 1px 1px, #0000 90deg, #000 0);
}

img.backframed {
  margin: 0 auto;
  border: 3px solid black;
  box-shadow: -50px -50px 0 -40px #555555, 50px 50px 0 -40px #555555;
}

// The "thumbnail" and "cover" are how popout images appear
// on the page when they are not popped out.

img.thumbnail {
  background-color: black;
  border: 2px solid gray;
  width: 250px;
  height: 200px;
  display: block;
  margin: auto;
  // display: inline-block; /* makes it fit in like an <img> */
  background-size: cover; /* or contain */
  background-position: center center;
  background-repeat: no-repeat;

  &:hover {
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.5);
  }
}

img.cover {
  border-radius: 20%;
  transition: 0.3s;
  cursor: url("../assets/cursors/image-popout.cur"), auto;

  &:hover {
    opacity: 0.4;
  }
}

// The "image modal" is the view of popped out images.

.img-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 200; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

.img-modal-content {
  margin: auto;
  display: block;
  max-width: 80%;
}

#img-modal-caption {
  font-size: 2em;
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

.img-modal-close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.img-modal-close:hover,
.img-modal-close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: url("../assets/cursors/link-select.cur"), auto;
}

.img-modal-content,
#img-modal-caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

/* 100% image width on smaller screens */

@media only screen and (max-width: rem(700px)) {
  .img-modal-content {
    width: 100%;
  }
}
