@use "./mode" as *;

a {
  cursor: url("../assets/cursors/link-select.cur"), auto;
}

a:not([class]) {
  @include color-var("color", primary);
  text-underline-position: under;
  text-decoration: underline 2px;

  &:not(.nostyle) {
    transition: all 0.3s linear;
    background: linear-gradient(to right, #00d1b1 0%, #278fc6 98%);
    background-size: 0px 2px;
    background-repeat: no-repeat;
    background-position: left 10%;
    text-shadow: 0;
  }

  &:hover {
    background-size: 100% 2px;
    @include color-var(color, secondary);
    // text-shadow: 0 2.5px 4px rgba(0, 0, 0, 0.5);
  }

  &:focus {
    @include color-var(color, secondary);
  }
}

a[href$=".pdf"]:after {
  content: " (PDF)";
  text-decoration: none;
}

a[href$=".pdf"][data-size]:after {
  @include color-var("color", pdfLink);
  text-decoration: none;
  font-size: 0.7em;
  font-style: italic;
  content: " (PDF, " attr(data-size) ")";
}

a[href*="http"]:not([href*="http://ludichistorian.com/*"])::after,
a[href*="https"]:not([href*="https://ludichistorian.com/*"])::after
{
  content: "";
  width: 16px;
  height: 16px;
  margin-left: 4px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z'/%3E%3Cpath fill-rule='evenodd' d='M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
}
