* {
  margin: 0;
  padding: 0;
}

*,
::before,
::after {
  box-sizing: border-box;
}

::before,
::after {
  text-decoration: inherit;
  vertical-align: inherit;
}

/*
Modification of the selection given the theme of the site.
This should not be impacted by dark or light mode settings.
*/
::selection {
  color: #fff;
  background: rgba(0, 0, 0, 0.99);
}

/*
Allow percentage-based heights in the application and make
sure that text size is only controlled by font size.
*/
:where(html) {
  block-size: 100%;
  text-size-adjust: 100%;
}

/*
Improve text rendering and allow percentage-based heights.
*/
:where(body) {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeSpeed;
  min-block-size: 100%;
}

/*
Remove border and set sensible defaults for backgrounds
on all elements except fieldset progress and meter.
*/
*:where(:not(fieldset, progress, meter)) {
  border-width: 0;
  border-style: solid;
  background-origin: border-box;
  background-repeat: no-repeat;
}

/*
Improve media defaults.
*/
:where(img, picture, svg, video, canvas, audio, iframe, embed, object) {
  display: block;
}

:where(img, picture, svg, video) {
  block-size: auto;
  max-inline-size: 100%;
  max-inline-size: min(55rem, 100%);
}

/*
Avoid any text overflows.
*/
:where(p, h1, h2, h3, h4, h5, h6) {
  overflow-wrap: break-word;
}

/*
Add an extra bit of space to targeted elements.
*/
[id] {
  scroll-margin-top: 2ex;
}

/*
Increase the outline for non-active elements that
have focus.
*/
:where(:not(:active)):focus-visible {
  outline-offset: 5px;
}

/*
Animate focus outline for users that have not indicated a
preference for reduced motion.
*/
@media (prefers-reduced-motion: no-preference) {
  :focus-visible {
    transition: outline-offset 145ms cubic-bezier(0.25, 0, 0.4, 1);
  }

  :where(:not(:active)):focus-visible {
    transition-duration: 0.25s;
  }
}

/*
Use smooth scrolling for users that have not indicated a
preference for reduced motion.
*/
@media (prefers-reduced-motion: no-preference) {
  html:focus-within {
    scroll-behavior: smooth;
  }
}

/*
Default to jump scroll and remove animation elements for
users that indicated a preference for reduced motion.
*/
@media (prefers-reduced-motion: reduce), (update: slow) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  ::before,
  ::after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-delay: 0s !important;
    transition-duration: 0s !important;
  }
}
